/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

:root {
  --primaryColor: #060606;
  --health: #CC245C;
  --hunger: #E79557;
  --thirst: #5C7DF2;
  --voice: #542398;
  --dev: a;
  --fuel: #EBFF6A;
}

body{
  overflow: hidden;
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 1vw;
}


.notify-container{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: absolute;
  right: 1vw;
  height: 80%;
  min-width: 10vw;
}

.notify{
  position: relative;
  background: linear-gradient(180deg, #000000 0%, hsla(280, 49%, 23%, 0.9) 99%);
  height: 2.5vw;
  min-width: 12vw;
  right: -20vw;
}

.data{
  display: flex;
  align-items: center;
  gap: 1vw;
  min-width: 100%;
  height: 90%;
  font-size: 0.8vw;
  margin-left: 1vw;
  margin-right: 2vw;
}

.desc{
  margin-right: auto;
}

.progressbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5vw;
  min-width: 18vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10vw;
  background: linear-gradient(180deg, #000000 0%, hsla(280, 49%, 23%, 0.9) 99%);
  border-radius: 0.3vw;
  border: #8D3AFE solid 0.2vw;
  font-weight: bold;
  font-size: 0.75vw;
}


.line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progress{
  width: 100%;
  height: 0.3vw;
  background: rgba(255, 255, 255, 0.092);
  border-radius: 0.3vw;
}

.fill{
  height: 100%;
  width: 100%;
  background: #8D3AFE;
  border-radius: 0.3vw;
  animation: progress 5s linear forwards;
}

.fa-light{
  color: #8D3AFE;
}

@keyframes progress {
  from { width: 100%; }
  to { width: 0%; }
}